.case {
	background: white;
	border: 2px solid black;
	border-radius: 0px;
	color: black;
	font-size: 32px;
}

.case:hover {
	background: rgb(220,220,255);
}

.case:focus {
	border-color: rgb(100, 100, 255);
}

.case_noire {
	background: black;
}

.case_noire:hover {
	background: rgb(10, 10, 100);
}

.case_numero:hover {
	background: white;
}

.case_erreur {
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: erreur_blanche;
}

.case_erreur.case_noire {
	animation-name: erreur_noire;
}

@keyframes erreur_blanche {
	0% {
		background-color: white;
	}
	50% {
		background-color: rgb(255, 100, 100);
	}
	100% {
		background-color: white;
	}
}

@keyframes erreur_noire {
	0% {
		background-color: black;
	}
	50% {
		background-color: rgb(255, 25, 25);
	}
	100% {
		background-color: black;
	}
}

.case_aide {
	background: rgb(255, 200, 100);
}
