.case {
	background: white;
	border: 2px solid black;
	border-radius: 0px;
	color: black;
	font-size: 32px;
}

.case:hover {
	background: rgb(220,220,255);
}

.case:focus {
	border-color: rgb(100, 100, 255);
}

.case_noire {
	background: black;
}

.case_noire:hover {
	background: rgb(10, 10, 100);
}

.case_numero:hover {
	background: white;
}
